.env.txt
backend/.env
mobile/.env
firebase-service-account.json
**/firebase-service-account.json

# Node
node_modules/
backend/node_modules/

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
config.bat
